In [5]:
import pandas as pd

mydataset = {'cars': ["BMW", "Volvo", "Ford"], 'passings': [3, 7, 2]
}
print(mydataset)

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [6]:
myvar = pd.DataFrame(mydataset)

In [7]:
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [10]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [15]:
print(myvar[1])

7

In [19]:
myvar = pd.Series(a, index = ["x", "y", "z"])

In [17]:
print(myvar)

x    1
y    7
z    2
dtype: int64

In [20]:
print(myvar["y"])

7

In [25]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390,"day1": 999, "day5": 380, "day6": 390}

myvar = pd.Series(calories)

print(myvar)

day1    999
day2    380
day3    390
day5    380
day6    390
dtype: int64

In [27]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day3", "day2"])

print(myvar)

day3    390
day2    380
dtype: int64

In [37]:
import pandas as pd

data = { "calories": [420, 380, 390],  "duration": [50, 40, 45]}

myvar = pd.DataFrame(data,index = ["day1", "day2", "day3"])

print(myvar)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [39]:
#refer to the row index:
print(myvar.loc["day1"])

calories    420
duration     50
Name: day1, dtype: int64

In [34]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [35]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [36]:
#refer to the row index:
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

In [41]:
#use a list of indexes:
print(df.loc[[2, 1]])

   calories  duration
2       390        45
1       380        40