In [5]:
def my_function(fname): 
     print(fname + " welcome")

In [6]:
my_function("ali")

ali welcome

In [7]:
fname= ["ahmad","ali","isam","abed"]
def my_function(*fname): 
     print(fname[1] + " welcome")

In [8]:
 my_function("ahmad","ali","isam","abed")

ali welcome

In [12]:
def my_function(child3,child2,child1): 
    print("The youngest child is "+ child3)

In [13]:
my_function(child1 ="Emil",child2="Tobias",child3="Linus")

The youngest child is Linus

In [15]:
def my_function(**kid):
    print("His last name is"+ kid["lname"])

In [16]:
my_function(fname ="Tobias",lname ="Refsnes")

His last name isRefsnes

In [19]:
def my_function(country ="Norway"):
    print("I am from "+country)

In [20]:
my_function("Sweden") 
my_function("India") 
my_function() 
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [25]:
def my_function(ccc): 
    for x in ccc: 
        print(x)

In [26]:
my_function(fname)

ahmad
ali
isam
abed

In [30]:
def my_function(x):
    return 5 * x

In [32]:
print(my_function(10))

50

In [38]:
def tri_recursion(k): 
    if(k>0): 
        result=k+tri_recursion(k-1) 
       # print(result) 
    else: 
        result=0 
    return result

In [40]:
tri_recursion(5)

15

In [43]:
x = lambda a:a+10
print(x(5))

15

In [46]:
foo = lambda a,b:a*b
print(foo(5,6))

30