In [7]:
fruits=["apple","banana","cherry"] 
for x in fruits: 
    print(x)
    if x=="banana""
    print("in")
print("out")

apple
in
banana
in
cherry
in
out

In [8]:
 
for x in "banana": 
    print(x)
    print("in")
print("out")

b
in
a
in
n
in
a
in
n
in
a
in
out

In [10]:
for x in "banana": 
    print(x)
    if x == "n":
        break
    print("in")
print("out")

b
in
a
in
n
out

In [14]:
for x in "banana": 
    
    if x == 'n':
        continue
    print(x)    
    print("in")
print("out")

b
in
a
in
a
in
a
in
out

In [17]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [20]:
for x in range(-2,6):
    print(x)

-2
-1
0
1
2
3
4
5

In [25]:
for x in range(-2,6,3):
    if x==1:
      #break
      continue
    print(x)
    
else :
    print("within else")
print("after loop")

-2
4
within else
after loop

In [29]:
adj = ["red","big","tasty"] 
fruits=["apple","banana","cherry"] 
 
for x in adj: 
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry